@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* font-family: 'Poppins', sans-serif; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg-intro-desktop.png);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: hsl(0, 100%, 74%);
  color: #fff;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  transform: translateY(10%);
}

@media only screen and (min-width: 1264px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transform: translateY(20%);
    width: 80vw;
  }
  .form-content {
    width: 40vw;
  }
  .title {
    width: 40vw;
    text-align: left;
    align-self: center;
    padding-right: 3rem;
  }
  .title h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
}

h1 {
  font-size: 2em;
  padding-bottom: 1.5rem;
}

.main-paragraph {
  font-weight: 500;
  padding-bottom: 3rem;
}
.blue-box {
  background-color: hsl(248, 32%, 49%);
  padding: 1rem 2.5rem;
  border-radius: 0.8rem;
  box-shadow: 1px 8px 1px hsla(0, 36%, 40%, 0.575);
  margin-bottom: 1.5rem;
}

.try-free {
  font-weight: 500;
}

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  border-radius: 0.8rem;
  box-shadow: 1px 8px 1px hsla(0, 36%, 40%, 0.575);
}

input {
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: inherit;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

::placeholder {
  font-weight: 600;
}

button {
  background-color: hsl(154, 59%, 51%);
  font-family: inherit;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  box-shadow: 1px 5px 1px hsla(154, 57%, 40%, 0.747);
}

.terms-services {
  color: hsl(246, 25%, 77%);
  font-size: 0.7rem;
  width: 80%;
  margin: auto;
  padding-top: 1rem;
}

.footer {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

@media only screen and (min-width: 710px) {
  main {
    max-width: 80vw;
  }
}

/* //ACTIVE STATES// */

input:focus {
  outline: none;
  border: 2px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.error-text:not(.footer) {
  color:hsl(0, 100%, 74%);
  font-weight: 500;
  font-size: 0.8rem;
  font-style: italic;
  text-align: right;
  margin-top: -1rem;
  padding-bottom: 1rem;
}

.error {
  border: 2px solid hsl(0, 100%, 74%);
  background: url(./images/icon-error.svg) no-repeat;
  background-position: 95% 50%;
}